.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 4px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background: green;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul{
  list-style-type: circle;
}
ol{
  list-style-type: upper-roman;
}
li{
  font-weight: bold;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 625px;
}

.footer {
    background: #2c3e80;
    color: white;
    text-align: center;
    padding: 10px 0;
}

a:link{
  color:white;
}

@media (max-width: 800px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}